.footer{
  background: #eaeaea;
  &__wrapper{
    padding: 96px 0 87px;
  }
  &__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 56px;
    border-bottom: 1px solid #818181;
  }
  &__logo{
    display: flex;
    align-items: center;
  }
  &__logo-img{
    width: 62px;
    height: 57px;
  }
  &__logo-name{
    margin-left: 15px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    color: #6c5fbc;
  }
  &__menu{
    display: flex;
    column-gap: 70px;
  }
  &__menu-link{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    text-transform: capitalize;
    color: #999;
    &:hover{
      color: var(--color-acent);
      cursor: pointer;
    }
  }
  &__second{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 147%;
    color: #999;
  }
  &__social{
    display: flex;
    align-self: center;
    column-gap: 52px;
  }
  &__social-link{
    display: flex;
    align-self: center;
    width: 22px;
    height: 22px;
  }
}