.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 20;
  &__wrap{
    display: flex;
    align-items: center;
    padding: 48px 0 24px 0;

    border-bottom: 1px solid #cbcbcb;
  }
  &__logo{
    display: flex;
    align-items: center;
    &-name{
      margin-left: 5px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 21px;
      line-height: 130%;
      color: #6c5fbc;
    }
  }
  &__nav{
    margin-left: 100px;
  }
  &__enter {
    margin-left: auto;
  }

  &__enter{
    display: flex;
  }
}